.error-title {
    color       : #13357e;
    font-size   : 100px;
    font-family : 'Roboto-Bold', sans-serif;
}

.error-page {
    justify-content : center;
    align-items     : center;
}

.bold-text {
    font-size     : 20px;
    color         : #333333;
    font-family   : 'Roboto-Bold', sans-serif;
    line-height   : 22px;
    margin-bottom : 20px;
}

.common-text {
    font-size   : 20px;
    font-family : 'Roboto-regular', sans-serif;
    color       : #666666;
    line-height : 22px;
    text-align  : center;
}

.common-text a {
    font-size   : 20px;
    font-family : 'Roboto-regular', sans-serif;
    color       : #13357e;
    line-height : 22px;
}

.error-page .header-logo__title, .error-page .header-logo__text {
    color : #13357e;
}

.help-block {
    display: none;
}